a { 
    text-decoration:none;
    color:inherit;
}

.navbar {
    padding-bottom:0px;
    margin:0px;
}

/*nav start*/

 
nav ul img{
    width: 10%;
}

nav ul{
    width: 80%;
    margin: auto;
}

/*nav end*/

/*carousel*/
.carousel {
    margin-top:0px;
	margin-bottom: 10px;
}

.slide-one {
	background-image: url(../img/pexels-tech.jpg);
}

.slide-two {
	background-image: url(../img/pexels-motherb.jpeg);
}

.slide-three {
	background-image: url(../img/pexels-background.jpg);
}

.slide-four {
	background-image: url(../img/pexels-teen.jpg);
}

.carousel-inner .item {
	height: 900px;
	background-size: cover;
	background-position: center;
}
.item .carousel-caption {
    background-color: rgba( 20, 20, 20, .0);
    border-radius: 5px;

}
.slide-two, .slide-three, .slide-four {
    padding-bottom: 400px;
}
.slide-one-logo {
	max-height: 400px;
}

.carousel-caption {
    bottom: 150px;
}

.carousel-caption h2 {
    font-family: "Bungee outline";
    font-size: 70px;
    text-shadow: 2px 2px #000;
    color:;
}

.btn-primary {
    background-color:#fff;
    background-image:none;
    border:solid #fff;
    border-radius:5px;
    color:black;
    font-weight:500;
}

.btn-primary:hover {
    background-color:#4dbce9   ;
    border-color: transparent;
    
}

.carousel-caption p {
    color: #fff;
    font-size: 17px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.71);
    font-weight: 400;
}
/*end of carousel*/

#section-thingy {
    background-image: linear-gradient(to bottom right, hsla(0, 0%, 6%, .05), hsla(0, 0%, 3%, .02));
    background-image: url('../img/pexels-bkg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 600px;
}
#section-thingy .center {
    float: none;
    margin: 0 auto;
    background-color: rgba( 20, 20, 20, .6);
    padding: 10px;
    margin-top: 145px;
    border-radius: 5px;
}

#section-thingy h2 {
    font-family: "Bungee outline";
    font-size: 70px;
    color:#fff;
    text-shadow: 1px 1px 5px #000;
}

#section-thingy p {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
}

#kms img {
    -webkit-filter: brightness(50%);
    filter: blur(0.8px), grayscale(100%) contrast(0%);
    transition: filter 0.4s ease-out;    
}

#kms img:hover {
    -webkit-transition: blur(0px) brightness(100%);
    filter: brightness(100%);
}

#kms h2 { 
    font-family: "Bungee outline";
    font-size: 40px;
    color: #000;
    text-shadow: 1px 1px #fff;
}

#info-title {
    font-size: 30px;
    color: #000;
    padding-top:50px;
    padding-bottom:50px;
}

#info-title h1 {
    font-family: "Bungee outline";
    font-size: 40px;
    color: #000;
    text-shadow: 1px 1px #fff;
}


#foot {
    color:white;
    background-color: black;
    padding: 50px 0px;
    margin-top: 10px;
}

#col-eventad {
    padding: 45px 0px;
}

.col-md-4 p{
    padding-top:15px;
}

.col-md-6 p {
    padding-bottom:15px;
}